<a href="<%= workout_path(workout) %>">
	<div class="square span7 card workout">
		<h1 class="t-center"><%= workout.name %></h1>

		<%= image_tag workout.avatar.url(:medium), :class => "image" %>
		<div>Skill level: <%= workout.difficulty %></div>
		<div>Workout type: <%= workout.workout_type %></div>
		<% if workout.has_equipment %>
		<div>Gear: <%= workout.equipment_list %></div>
		<% else %>
		<div>Gear: None required </div>
		<% end %>
	</div>
</a>
