<div class="header"> Edit My Info </div>
<div class="row">
	<div class="span10 offset7">
		<div class="square t-center">
			<%= simple_form_for(@user) do |f| %>
			<%= f.error_notification %>
			<div class="form-inputs">
				<%= f.input :name %>
				<%= f.input :email, wrapper_html: {id: "email_pref"} %>
				<div class="row" style="margin:auto">
					<%= f.hint "Do you prefer to have the workouts sent to you via email or text? We highly recommend selecting text.", class: "form-edit" %>
					<%= f.input :contact_pref, :collection => ["Text me", "Email me"], :as=> :radio_buttons, :label => "", wrapper_html: {class: "span4 offset2"}, :checked => "Text me" %>
				</div>
				<%= f.input :number, wrapper_html: {id: "number_pref"} %>
				<%= f.input :carrier, :collection => [ "Verizon", "AT&T", "T-Mobile", "Sprint", "Virgin Mobile", "US Cellular"], wrapper_html: { id: "carrier_selection" } %>
				<%= f.input :has_equipment, :label => "Do you own any workout equipment?", input_html: { id: "has_equipment" }  %>
				<%= f.hint "What equipment do you own?", class: "form-edit" %>
				<%= f.input :equipment_owned, :collection => workout_equipment, :label => false,  wrapper_html: {style: "color:black"},input_html: {multiple: "multiple", class: "chosen", style: "color:black"} %>
				
			</div>
			<div>
				<%= f.submit "Submit", :class => "btn btn-primary", :style => "width:150px; margin-top:10px" %>

			</div>
			<% end %>
		</div>
	</div>
</div>
