
<div class="header"> My Info </div>
<div class="row">
	<div class="span12 offset6">

		<div class="square">
			<div class="row">
				<div class="span5">
					<div> Name: </div>
				</div>
				<div class="span4">
					<div><%= @user.name %></div>
				</div>
			</div>
			<div class="row">
				<div class="span5">
					<div> Email: </div>
				</div>
				<div class="span4">
					<div><%= @user.email %></div>
				</div>
			</div>
			<% if @user.number != "" %>
			<div class="row">
				<div class="span5">
					<div> Number: </div>
				</div>
				<div class="span4">
					<div><%= @user.number %></div>
				</div>
			</div>
			<div class="row">
				<div class="span5">
					<div> Carrier: </div>
				</div>
				<div class="span4">
					<div><%= @user.carrier %></div>	
				</div>
			</div>
			<% end %>
			<div class="row">
				<div class="span5">
					<div>Workout Difficulty: </div>
				</div>
				<div class="span4">
					<div><%= @user.current_level_difficulty %></div>	
				</div>
			</div>
			<div class="t-center">
				<div class="row">
					<%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary btn-edit"%>
				</div> 
				<div class="row">
					<%= link_to 'Increase Difficulty', increase_difficulty_user_path(@user), method: :put, style: "width: 33%", class: "btn btn-primary btn-edit" %> 
					<%= link_to 'Decrease Difficulty', decrease_difficulty_user_path(@user), method: :put, style: "width: 33%", class: "btn btn-primary btn-edit"%> 
				</div>
			</div>
		</div>
	</div>
</div>
