<!DOCTYPE html>
<html>
<head>
	<title>Collegefitness</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
</head>
<body>
	<%= render partial: "layouts/navbar" %>
	<div id="content">
		<% home_index = params[:controller] == "home" && params["action"] == "index" %>
		<% if flash[:error] || flash[:notice] || flash[:alert] %>
        <div class="alerts-container<%= " home-index" if home_index %>" style="<%= "margin-top:40px" if home_index %>">
          <div class="alerts">
            <% if flash[:error] %>
              <div class="alert alert-error"><%= flash[:error] %></div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-info"><%= flash[:alert] %></div>
            <% end %>
            <% if flash[:notice] %>
              <div class="alert alert-info"><%= flash[:notice] %></div>
            <% end %>
          </div>
        </div>
      <% end %>
		<div class="<%= "container" unless home_index  %>">
			<%= yield %>
		</div>
	</div>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
</body>
</html>


