<!DOCTYPE html>
<html>
<head>
	<title>Collegefitness</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>`
</head>
<body>
	<%= render partial: "layouts/navbar" %>
	<div id="content">
		<% home_index = params[:controller] == "home" && params["action"] == "index" %>
		<div class="<%= "container" unless home_index %>">
			<%= yield %>
		</div>
	</div>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
</body>
</html>


